<footer id="footer">
  <div class="footer-inner">
    &copy; <%= date(new Date(), 'YYYY') %> <i class="fas fa-heart" style="color: #ff5252; margin: 0 5px;"></i> <%= config.author || config.title %>
  </div>
</footer>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>