<footer id="footer">
  <div class="footer-inner">
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
  </div>
</footer>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>