<div class="series-bar">
  <a href="/categories/Weekly" class="series-item">
    <div class="series-icon weekly-icon">
      <i class="fas fa-newspaper"></i>
    </div>
    <div class="series-info">
      <div class="series-title">周报</div>
      <div class="series-desc">Weekly Updates</div>
    </div>
  </a>
  <a href="/categories/LeetCode" class="series-item">
    <div class="series-icon algo-icon">
      <i class="fas fa-laptop-code"></i>
    </div>
    <div class="series-info">
      <div class="series-title">刷题</div>
      <div class="series-desc">Algorithm & LeetCode</div>
    </div>
  </a>
</div>
